@import url(_color.css);
@import url(_typo.css);
@import url(_variabili.css);
@import url(_reset.css);
@import url(_chat_style_block);
/*-------------------
    COMMON
-------------------*/
body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(
        to bottom,
        #009688 0vh,
        #009688 18vh,
        #DBDBD2 18vh,
        #DBDBD2 100vh
    );
    height: 100vh;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_container {
    max-width: 75rem;
    width: 100%;
    height: calc(100vh - 3.125rem);
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
}
.messages_container, .chat_container {
    display: flex;
    flex-direction: column;
}
.header_messages, .header_chat {
    background-color: #eaeaea;
    height: 3.75rem;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 0.625rem;
    padding-right: 1.25rem;
    align-items: center;
}
.user_icon, .chat_icon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-grow: 1;
    gap: 0.625rem;
    align-items: center;
}
.user_preferences, .chat_preferences {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    color: #b1b1b1;
    flex-grow: 1;
    gap: 0.9375rem;
}
.user_icon img, .chat_icon img, .notification_messages i{
    border-radius: 40px;
    width: 2.5rem;
    height: 2.5rem;
}
/*-------------------
    MESSAGES
-------------------*/
.messages_container {
    width: 35%;
    border-right: 1px solid #d6d6d6;
}
.notification_messages {
    background-color: var(--color-notification);
    width: 100%;
    max-height: 4.375rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.625rem 1.25rem;
    flex-grow: 0;
}
.notification_messages i {
    display: inline-block;
    font-size: var(--font-icon);
    color: var(--color-notification);
    background-color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 3.125rem;
}
.search_messages {
    background-color: #fafafa;
    width: 100%;
    max-height: 3.125rem;
    padding: 0.625rem;
    color: #b6b9bd;
    display: flex;
    gap: 0.125rem;
}
.search_messages button {
    text-align: center;
    background-color: white;
    border: 0;
    width: 18%;
}
.search_messages input {
    flex-grow: 1;
    border: 0;
}
.search_messages input {
    padding: 0.3125rem;
}
.main_messages {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}
.contact {
    display: flex;
    width: 100%;
    padding: 0.625rem 1.25rem;
    gap: 0.625rem;
    border-top: 0.0625rem solid #f5f5f5;
}
.contact:hover {
    background-color: #e9ebeb;
}
.active {
    background-color: #dbdede;
}
.active:hover {
    background-color: #dbdede;
}
.contact img {
    width: 2.8125rem;
    height: 2.8125rem;
    border-radius: 100%;
}
.contact .last_contact_message, .contact .last_time_message {
    color: #b6b9bd;
    font-size: var(--font-small);
}
.contact .last_time_message {
    text-align: right;
    flex-grow: 1;
}
/*-------------------
    CHAT
-------------------*/
.chat_container {
    width: 65%;
}
.main_chat {
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    overflow-y:auto;
    padding-top: 3.125rem;
}
.bottom_chat {
    height: 3.75rem;
    width: 100%;
    background-color: #f3eeea;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1.875rem;
    padding: 0.625rem 1.875rem;
    flex-shrink: 0;
}
.bottom_chat i {
    align-self: center;
}
.bottom_chat .text_message {
    flex-grow: 1;
    border-radius: 0.625rem;
    border: 0;
    padding: 0.3125rem;
    font-size: 0.875rem;
}
.bottom_chat .fa-arrow-right{
    font-size: 1.1rem;
}
/*-------------------
    CHAT MESSAGES
-------------------*/
.chat_message {
    width: 100%;
    padding: 0.625rem 5.625rem;
}
.text_align_right {
    text-align: right;
}
.text_align_left {
    text-align: left;
}
.message_sent {
    background-color: #d5f9ba;
}
.message_received {
    background-color: white;
}
.message_received, .message_sent {
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border-radius: 0.625rem;
    position: relative;
}
.time_message {
    position: absolute;
    bottom: 0.2rem;
    right: 0.3rem;
    font-size: var(--font-extra-small);
}