<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <!-- /Google Fonts  -->
    <!-- Fontawesome  -->
    <script src="https://kit.fontawesome.com/6a19c75f45.js" crossorigin="anonymous"></script>
    <!-- /Fontawesome  -->
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- /CSS  -->
</head>
<body>
    <div id="app" class="main_container">
        <div class="messages_container">
            <div class="header_messages">
                <div class="user_icon">
                    <img src="img/avatar_io.jpg" alt="Foto profilo personale">
                    <p>Sofia</p>
                </div>
                <div class="user_preferences">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="notification_messages">
                <i class="fa-solid fa-bell-slash"></i>
                <div class="notification_details">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="#/">Attiva notifiche desktop</a>
                </div>
            </div>
            <div class="search_messages">
                <button class="search_btn" @click="searchContacts()"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchContact" @keyup="searchContacts()" @keyup.backspace="searchContacts()">
            </div>
            <div class="main_messages">
                <div v-for="(elm, index) in contacts" class="contact" @click="currentContact = index" :class="(currentContact == index)? `active`:``" v-if="elm.visible == true">
                    <img :src="`img/avatar` + elm.avatar + `.jpg`" alt="elm.name">
                    <div class="contact_details">
                        <p class="contact_name">{{elm.name}}</p>
                        <span class="last_contact_message">{{lastMessageSent(index)}}</span>
                    </div>
                    <span class="last_time_message">{{lastTimeMessageSent(index)}}</span>
                </div>
            </div>
        </div>
        <div class="chat_container">
            <div class="header_chat">
                <div class="chat_icon">
                    <img :src="`img/avatar` + contacts[currentContact].avatar + `.jpg`" alt="contacts[currentContact].name">
                    <div class="chat_details">
                        <p>{{contacts[currentContact].name}}</p>
                        <span>Ultimo accesso oggi alle 12.00</span>
                    </div>
                </div>
                <div class="chat_preferences">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="main_chat">
                <div v-for="(elm, index) in contacts[currentContact].messages" class="chat_message" :class="(elm.status == `sent`)? `text_align_right`:`text_align_left`">
                        <div :class="(elm.status == `sent`)? `message_sent` : `message_received`" @mouseover="optionMessVisible = true" @mouseleave="optionMessVisible = false">
                            <i class="fa-solid fa-angle-down option_message" :class="(elm.status == `sent`)? `opt_ms_green` : `opt_ms_white`" v-show="(optionMessVisible == true)"></i>
                            {{elm.message}}
                            <span class="time_message">{{messageTime(index)}}</span>
                        </div>
                </div>
            </div>
            <div class="bottom_chat">
                <i class="fa-regular fa-face-smile"></i>
                <input class="text_message" type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sentMessage(); scrollToBottom()">
                <i v-if="(!newMessage)" class="fa-solid fa-microphone"></i>
                <i v-else="(newMessage)" class="fa-solid fa-arrow-right" @click="sentMessage(); scollToBottom();"></i>
            </div>
        </div>
    </div>
    <!-- JS  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
    <!-- /JS  -->

</body>
</html>