/*-------------------
    RESET
-------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------
    VARIABILI
-------------------*/
:root {
    --font-icon: 20px;
    --font-13px: 13px;
    --color-notification: #8EDAFC;
}
/*-------------------
    TYPO
-------------------*/
.user_preferences i, .chat_preferences i, .bottom_chat i {
    font-size: var(--font-icon)
}
.chat_icon, .user_icon, .notification_messages {
    font-size: var(--font-13px);
}
.chat_icon span, .notification_messages a{
    font-size: 12px;
}
.search_messages input::placeholder, .search_messages input {
    font-size: 12px;
}
.search_messages button {
    font-size: 15px;
}
/*-------------------
    COLOR
-------------------*/
.search_messages input::placeholder, .search_messages button, .bottom_chat .text_message::placeholder {
    color: #b6b9bd;
}
.chat_icon span, .notification_messages a, .bottom_chat i {
    color: #6b7376;
}
/*-------------------
    COMMON
-------------------*/
body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(
        to bottom,
        #009688 0vh,
        #009688 18vh,
        #DBDBD2 18vh,
        #DBDBD2 100vh
    );
    width: 100%;
    font-weight: 400;
}
.main_container {
    max-width: 1200px;
    height: calc(100vh - 50px);
    background-color: white;
    margin: 25px auto;
    display: flex;
    flex-wrap: nowrap;
}
.messages_container, .chat_container {
    display: flex;
    flex-direction: column;
}
.header_messages, .header_chat {
    background-color: #eaeaea;
    height: 70px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    padding-right: 20px;
    align-items: center;
}
.user_icon, .chat_icon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-grow: 1;
    gap: 10px;
    align-items: center;
}
.user_preferences, .chat_preferences {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    color: #b1b1b1;
    flex-grow: 1;
    gap: 15px;
}
.user_icon img, .chat_icon img, .notification_messages i{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
/*-------------------
    MESSAGES
-------------------*/
.messages_container {
    width: 35%;
    border-right: 1px solid #d6d6d6;
}
.notification_messages {
    background-color: var(--color-notification);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}
.notification_messages i {
    display: inline-block;
    font-size: var(--font-icon);
    color: var(--color-notification);
    background-color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
.search_messages {
    background-color: #fafafa;
    width: 100%;
    height: 50px;
    padding: 10px;
    color: #b6b9bd;
    display: flex;
    gap: 2px;
}
.search_messages button {
    text-align: center;
    background-color: white;
    border: 0;
    width: 18%;
}
.search_messages input {
    flex-grow: 1;
    border: 0;
}
.search_messages input {
    padding: 5px;
}
.main_messages {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}
.contact {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    gap: 10px;
    border-top: 1px solid #f5f5f5;
}
.contact:hover {
    background-color: #e9ebeb;
}
.contact img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
}
.contact .last_contact_message, .contact .last_time_message {
    color: #b6b9bd;
    font-size: var(--font-13px);
}
.contact .last_time_message {
    text-align: right;
    flex-grow: 1;
}
/*-------------------
    CHAT
-------------------*/
.chat_container {
    width: 65%;
}
.main_chat {
    flex-grow: 1;
    background-image: url(img/mine.jpg);
    overflow-y: auto;
}
.bottom_chat {
    height: 70px;
    width: 100%;
    background-color: #f3eeea;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
    padding: 10px 30px;
}
.bottom_chat i {
    align-self: center;
}
.bottom_chat .text_message {
    flex-grow: 1;
    border-radius: 10px;
    border: 0;
    padding: 5px;
    font-size: 14px;
}