/*-------------------
    RESET
-------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------
    VARIABILI
-------------------*/
:root {
    --font-icon: 20px;
}
/*-------------------
    TYPO
-------------------*/
.user_preferences i, .chat_preferences i {
    font-size: var(--font-icon)
}
.chat_icon, .user_icon {
    font-size: 14px;
}
.chat_icon span {
    font-size: 12px;
    color: #6b7376;
}
/*-------------------
    COMMON
-------------------*/
body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(
        to bottom,
        #009688 0vh,
        #009688 18vh,
        #DBDBD2 18vh,
        #DBDBD2 100vh
    );
    width: 100%;
    font-weight: 400;
}
.main_container {
    max-width: 1200px;
    height: calc(100vh - 50px);
    background-color: white;
    margin: 25px auto;
    display: flex;
    flex-wrap: nowrap;
}
.messages_container, .chat_container {
    display: flex;
    flex-direction: column;
}
.header_messages, .header_chat {
    background-color: #eaeaea;
    height: 70px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    padding-right: 20px;
    align-items: center;
}
.user_icon, .chat_icon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-grow: 1;
    gap: 10px;
    align-items: center;
}
.user_preferences, .chat_preferences {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    color: #b1b1b1;
    flex-grow: 1;
    gap: 15px;
}
.user_icon img, .chat_icon img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
/*-------------------
    MESSAGES
-------------------*/
.messages_container {
    width: 35%;
    border-right: 1px solid #d6d6d6;
}
.notification_messages {
    background-color: #8EDAFC;
    width: 100%;
    height: 80px;
}
.search_messages {
    background-color: #fafafa;
    width: 100%;
    height: 50px;
}
.main_messages {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}
/*-------------------
    CHAT
-------------------*/
.chat_container {
    width: 65%;
}
.main_chat {
    flex-grow: 1;
    background-image: url(img/mine.jpg);
    overflow-y: auto;
}
.bottom_chat {
    height: 70px;
    width: 100%;
    background-color: #f3eeea;
}